.navbar-cocktails {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-content: center;
  background: transparent;
  height:70px;
  padding: 0 20px;
}

.add_link a {
  font-size: 25px;
  font-weight: bold;
  color: white;

  &:active {
    color: #F6B733;
  }
}

.navbar-cocktails .navbar-collapse {
  flex-grow: 0;
}

.navbar-cocktails .navbar-brand img {
  width: 40px;
}
